body{
    background-color: rgb(129, 6, 185);
    padding: 0px;
    margin: 0px;
}
section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
    
    
    
}

.cel{
    background-color: rgb(129, 6, 185);
    padding: 0px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    
    
}

.cel figure img{
    height: 700px;
    width: auto;
    position: relative;
    z-index: 2;
}
figure{
    margin: 0px;
}
.topo{
    position: absolute;
    z-index: 3;
    top: 150px;
    display: flex;
    justify-content: space-between;
    background-color:;
    width: 250px;
    align-items: center;
}
.ico_user i{
    color: white;
    background-color: rgba(172, 20, 243, 0.658);
    padding: 12px;
    border-radius: 50px;
}
.icones_topo i{
    color: white;
    padding: 5px;

}
.topo_nome{
    position: absolute;
    z-index: 3;
    color: white;
    top: 180px;
    width: 250px;
    padding-top: 17px;
}
.topo_nome h4{
    font-family: Gotham;
    font-weight: 500;
    font-size: 13px;
}

.informacoes{
    
    position: absolute;
    top: 250px;
    z-index: 3;
}
.fundo_branco{
    background-color: white;
    width: 320px;
    height: 530px;
    top: 250px;
    position: absolute;
    z-index: 1;
    border-radius: 0 0 30px 30px;
    
}

.titulo_conta{
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Gotham;
    letter-spacing: -1px;
    background-color: ;
    width: 260px;
}
.titulo_conta h3{
    font-weight: 500;
}

.titulo_valor{
    margin-top: -20px;
    padding: 0 30px 0 30px;
    font-family: Gotham;
    letter-spacing: -2px;
    font-weight: 700;
    background-color: ;
    
}
.titulo_valor a{
    text-decoration: none;
    color: black;
}
.titulo_valor a:hover{
    color: blueviolet;
}
.bolinhas{
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
    background-color: ;
    text-align: center;
    
    
}
.bol_1{
    background-color: ;
    font-family: Gotham;
    font-size: 12px;
    
    
    
}
.ico_pix span{
    background-color: rgba(192, 192, 192, 0.2);
    padding: 20px;
    border-radius: 100px;
    font-size: 14px;
    
    
}

.ico_pix  a{
    text-decoration: none;
    color: black;
    
}
.ico_pix span:hover{
    background-color: blueviolet;
    color: white;
}

.bol_2{
    background-color: ;
    font-family: Gotham;
    font-size: 12px;
    
    
    
}
.ico_pagar i{
    background-color: rgba(192, 192, 192, 0.2);
    padding: 20px;
    border-radius: 100px;
    font-size: 14px;
    
    
}

.ico_pagar a{
    text-decoration: none;
    color: black;
    
}
.ico_pagar i:hover{
    background-color: blueviolet;
    color: white;
}

.bol_3{
    background-color: ;
    font-family: Gotham;
    font-size: 12px;
    
    
    
}
.ico_transf i{
    background-color: rgba(192, 192, 192, 0.2);
    padding: 20px;
    border-radius: 100px;
    font-size: 14px;
    
    
}

.ico_transf a{
    text-decoration: none;
    color: black;
    
}
.ico_transf i:hover{
    background-color: blueviolet;
    color: white;
}
.bol_4{
    background-color:;
    font-family: Gotham;
    font-size: 12px;
    
    
}
.ico_depos i{
    background-color: rgba(192, 192, 192, 0.2);
    padding: 20px;
    border-radius: 100px;
    font-size: 14px;
    
    
}

.ico_depos a{
    text-decoration: none;
    color: black;
    
}
.ico_depos i:hover{
    background-color: blueviolet;
    color: white;

}
.cartao_credito{
    background-color: ;
    padding: 10px 30px 10px 30px;
}
.cartao_credito_content{
    background-color: rgba(192, 192, 192, 0.2);
    padding: 10px;
    border-radius: 8px;
}
.cartao_credito_content a{
    text-decoration: none;
    font-family: Gotham;
    font-weight: 600;
    font-size: 12px;
    color: black;
    margin-left: 5px;
}
.cartao_credito_content a:hover{
    color: blueviolet;

}
.linha{
    background-color: rgba(192, 192, 192, 0.4);
    padding-top: 1px;
}

/*Coluna do texto e botão*/

.texto{
    background-color: rgb(129, 6, 185);
    padding: 0px; 
    padding-top: 100px;
    padding-left: 30px;
}
.texto_titulo h1{
    color: white;
    font-family: Gotham;
    font-size: 50px;
    line-height: 45px;
    letter-spacing: -2px;
    display: flex;
    
}
.botao{
    width: 250px;
    border: solid 2px white;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}
.botao a{
    text-decoration: none;
    color: white;
    font-family: Gotham;
    
}


