body{
    background-color: rgb(129, 6, 185);
    padding: 0px;
    margin: 0px;
}

.cel{
    background-color: rgb(129, 6, 185);
    display: flex;
    justify-content: center;
    padding-top: 100px;
    
    
}

.cel figure img{
    height: 700px;
    width: auto;
    position: relative;
    z-index: 2;
}
figure{
    margin: 0px;
}

.informacoes{
    
    position: absolute;
    top: 250px;
    z-index: 3;
}
.fundo_branco{
    background-color: white;
    width: 320px;
    height: 550px;
    top: 230px;
    position: absolute;
    z-index: 1;
    border-radius: 0 0 30px 30px;
    
}

.titulo_conta{
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Gotham;
    letter-spacing: -1px;
    background-color: ;
    width: 260px;
}
.titulo_conta h3{
    font-weight: 500;
}

.titulo_valor{
    margin-top: -20px;
    padding: 0 30px 0 30px;
    font-family: Gotham;
    letter-spacing: -2px;
    font-weight: 700;
    background-color: ;
    
}
.titulo_valor a{
    text-decoration: none;
    color: black;
}
.titulo_valor a:hover{
    color: blueviolet;
}
.bolinhas{
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
    background-color: ;
    text-align: center;
    
    
}
.bol_1{
    background-color: ;
    font-family: Gotham;
    font-size: 12px;
    
    
    
}
.ico_pix{
    background-color: silver;
    padding: 20px;
    border-radius: 100px;
    font-size: 14px;
    
    
}

.ico_pix a{
    text-decoration: none;
    color: black;
    
}

.bol_2{
    background-color: ;
    font-family: Gotham;
    font-size: 12px;
    
    
    
}
.ico_pagar{
    background-color: silver;
    padding: 20px;
    border-radius: 100px;
    font-size: 14px;
    
    
}

.ico_pagar a{
    text-decoration: none;
    color: black;
    
}

.bol_3{
    background-color: ;
    font-family: Gotham;
    font-size: 12px;
    
    
    
}
.ico_transf{
    background-color: silver;
    padding: 20px;
    border-radius: 100px;
    font-size: 14px;
    
    
}

.ico_transf a{
    text-decoration: none;
    color: black;
    
}
.bol_4{
    background-color:;
    font-family: Gotham;
    font-size: 12px;
    
    
}
.ico_depos{
    background-color: silver;
    padding: 20px;
    border-radius: 100px;
    font-size: 14px;
    
    
}

.ico_depos a{
    text-decoration: none;
    color: black;
    
}



